*
{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%; 
    font-family: 'Montserrat', sans-serif;
}
body
{
    background-color:rgb(218, 214, 214);
}
#header
{
    background-image: url(../images/bamboo.jpg);
}
h1.first
{
    color: rgb(97, 22, 238);
}
#panda
{
    border: 3px dashed blueviolet;
    margin: 0px 6%;
}